<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body ng-app='app' ng-controller='controller' ng-keydown='movement($event)' tabindex="0">
    <div>
      <div class='gameInfo'>
        <div class='title'>
          <h1>2048</h1>
          <h6>by David Son</h6>
        </div>
        <div class='info best'>
          <h4>Best:</h4>
          <h3 ng-bind='highScore'></h3>
        </div>
        <div class='info'>
          <h4>Score:</h4>
          <h3 ng-bind='score'></h3>
        </div>
        <div class='reset' ng-click='reset()'><h5>Reset</h5></div>
      </div>
      <div class='container'>
        <div class='grid'>
          <div ng-repeat='tile in tiles' ng-class='tile.class()' class='tile' ng-bind='tile.value' ng-animate='animate'>
          </div>
        </div>
        <div class='gridStyle'>
          <div ng-repeat='row in [0,1,2,3]'>
            <div ng-repeat='col in [0,1,2,3]'>
              <div ng-class='"r"+row+" c"+col' class='tileStyle'></div>
            </div>
          </div>
        </div>
      </div>


    </div>



    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src='app.js'></script>
  </body>


</html>