<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body ng-app='app'>
    <div ng-controller='controller'>
      <h1 ng-click='test()'>test</h1>


      <div>
        <div class='grid'>

          <div ng-repeat='tile in tiles track by $index' ng-class='tile.class()' class='tile'>
            {{tile.value}}
          </div>

        </div>
      </div>


    </div>



    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src='app.js'></script>
  </body>


</html>