html, body {
  width : 100%;
  height : 100%;
  margin : 0;
}

.tile.ng-enter {
  transition: 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) all,
    0.7s linear opacity;
  opacity:0;
}
.tile.ng-enter.ng-enter-active {
  opacity:1;
}
.tile.ng-leave {
  opacity:0;
}
.tile.ng-move {
  transition : 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}


.grid {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  position: relative;
}

.tile {
  height : 120px;
  width: 120px;
  border : 1px solid black;
  position : absolute;
  transition : all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.new {
  z-index: 5
}

.r0 {
  top : 4px;
}

.r1 {
  top : 128px;
}

.r2 {
  top: 252px;
}

.r3 {
  top : 376px;
}

.c0 {
  left: 4px;
}

.c1 {
  left : 128px;
}

.c2 {
  left: 252px;
}

.c3 {
  left : 376px;
}

.v2 {
  background-color: #e6ffff;
}

.v4 {
  background-color: #b3ffff
}

.v8 {
  background-color: #99ddff;
}

.v16 {
  background-color: #b3ccff
}

.v32 {
  background-color: #ccb3ff
}

.v64 {
  background-color: #dd99ff
}

.v128 {
  background-color: #ffb3ff
}

.v256 {
  background-color: #ffb3d9
}

.v512 {
  background-color: #ffb3b3
}

.v1024 {
  background-color: #ff9966
}

.v2048 {
  background-color: #ffff99
}
