html, body {
  width : 100%;
  height : 100%;
  margin : 0;
  font-family: Tahoma;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}
h6 {
  margin-top: 0;
}
h4 {
  margin-bottom: 0;
  margin-top: 10px;
}
h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
h5 {
  line-height: 50px;
  margin: 0;
}

.gameInfo {
  margin-left: auto;
  margin-right: auto;
  width : 500px;
}
.title {
  display: inline-block;
  width: 140px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 1px;
}

.best {
  margin-left: 25px;
}

.info {
  display: inline-block;
  width : 90px;
  height : 65px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 5px;
  border : 3px solid #f2f2f2;
  margin-bottom: 15px;
}

.reset {
  display: inline-block;
  width : 80px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  vertical-align: bottom;
  margin-left: 36px;
  margin-bottom: 15px;
}
.reset:hover {
  background-color: #e6ffff
}


.tile.ng-enter {
  transition: 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) all,
    0.7s linear opacity;
  opacity:0;
}
.tile.ng-enter.ng-enter-active {
  opacity:1;
}
.tile.ng-leave {
  opacity:0;
}
.tile.ng-move {
  transition : 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  position: relative;
}

.grid {
  height: 500px;
  width: 500px;
  position: relative;
}

.gridStyle {
  height: 500px;
  width: 500px;
  position: absolute;
  top :0;
  left: 0;
  z-index: -5;
}

.tile {
  height : 120px;
  width: 120px;
  border-radius: 5px;
  position : absolute;
  transition : all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 50px; 
  font-style: bold;
}

.tileStyle {
  height : 120px;
  width: 120px;
  border-radius: 5px;
  position : absolute;
  background-color: #f2f2f2;
}

.new {
  z-index: 5
}

.r0 {
  top : 4px;
}

.r1 {
  top : 128px;
}

.r2 {
  top: 252px;
}

.r3 {
  top : 376px;
}

.c0 {
  left: 4px;
}

.c1 {
  left : 128px;
}

.c2 {
  left: 252px;
}

.c3 {
  left : 376px;
}

.v2 {
  background-color: #e6ffff;
}

.v4 {
  background-color: #b3ffff
}

.v8 {
  background-color: #99ddff;
}

.v16 {
  background-color: #b3ccff
}

.v32 {
  background-color: #ccb3ff
}

.v64 {
  background-color: #dd99ff
}

.v128 {
  background-color: #ffb3ff
}

.v256 {
  background-color: #ffb3d9
}

.v512 {
  background-color: #ffb3b3
}

.v1024 {
  background-color: #ff9966
}

.v2048 {
  background-color: #ffff99
}
